<content-frame>
  <error-view error={ state.error } />

  <script>
    import { mount } from "../views";

    export default {
      onBeforeMount() {
        this.state.error = this.props.view.error;
        if (!this.state.error)
          new Promise((resolve, reject) => resolve(mount(this.root, this.props.view)))
            .catch(error => this.update({ error }));
      },
    }
  </script>
</content-frame>
