<app>
  <div id="split-view" />

  <script>
    import * as riot from "riot";

    import * as split from "./split";

    const searchParams = new URLSearchParams(location.search);
    const viewDefinition = split.parse(searchParams.get("split") || '');

    export default {
      onMounted() {
        riot.mount("#split-view", { viewDefinition, searchParams }, 'split-view');
      },
    }
  </script>
</app>
