<app>
  <split-view {...{ viewDefinition, searchParams }} />

  <script>
    import * as riot from "riot";
    import * as split from "./split";

    export default {
      onBeforeMount() {
        this.searchParams = new URLSearchParams(location.search || location.hash.replace("#", "?"));
        this.viewDefinition = split.parse(this.searchParams.get("split") || '');
      },
    }
  </script>
</app>
