<app>
  <split-view {...{ viewDefinition, searchParams }} />

  <script>
    import * as riot from "riot";
    import * as layout from "./layout";

    export default {
      onBeforeMount() {
        this.searchParams = new URLSearchParams(location.search || location.hash.replace("#", "?"));
        this.viewDefinition = layout.parse(this.searchParams.get("layout") || '');
      },
    }
  </script>
</app>
