<content-frame>
  <script>
    import * as riot from "riot";

    import { mount } from "./sources.js";

    export default {
      onMounted() {
        mount(riot, this.root, this.props.definition);
      },
    }
  </script>
</content-frame>
